@model GPF.Web.ViewModels.DataViewModel

@{
    ViewBag.Title = "Data View";
}

<div class="page-header">
    <h2>@Model.Account.FirstName @Model.Account.LastName, @Model.Account.Role.Description</h2>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-account" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Account", "Edit", "Account", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div id="navbar-account" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Edit", "Edit", "Account")</li>
                <li>@Html.ActionLink("Class History", "ClassHistory", "Account")</li>
                <li>@Html.ActionLink("GPF History", "GPFHistory", "Account")</li>
                @if (Model.Account.Role.Value == "F".ToString() || Model.Account.Role.Value == "A".ToString())
                {
                    <li>@Html.ActionLink("Other Accounts", "Students", "Account")</li>
                }
                @if (Model.Account.Role.Value == "A".ToString())
                {
                    <li>@Html.ActionLink("Data View", "DataView", "Account")</li>
                }
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<h3>Data View</h3>

<div class="row">
    <div class="col-xs-12">
        <h4>Accounts:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Role</th>
                    @if (Model.Account.Degree != null)
                    {
                        <th>Degree ID</th>
                    }
                    @if (Model.Account.Concentration != null)
                    {
                        <th>Concentration ID</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Accounts != null)
                {
                    foreach (var account in Model.Accounts)
                    {
                        <tr>
                            <td>
                                @account.Id
                            </td>
                            <td>
                                @account.Username
                            </td>
                            <td>
                                ********
                            </td>
                            <td>
                                @account.FirstName
                            </td>
                            <td>
                                @account.LastName
                            </td>
                            <td>
                                @account.Street
                            </td>
                            <td>
                                @account.City
                            </td>
                            <td>
                                @account.State
                            </td>
                            <td>
                                @account.Zip
                            </td>
                            <td>
                                @account.Role.Description
                            </td>
                            @if (Model.Account.Degree != null)
                            {
                            <td>
                                @account.Degree.Id
                            </td>
                            }
                            @if (Model.Account.Concentration != null)
                            {
                            <td>
                                @account.Concentration.Id
                            </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Accounts found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Degrees:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Degrees != null)
                {
                    foreach (var degree in Model.Degrees)
                    {
                        <tr>
                            <td>
                                @degree.Id
                            </td>
                            <td>
                                @degree.Title
                            </td>
                            <td>
                                @degree.Description
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Degrees found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Concentrations:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Degree ID</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Concentrations != null)
                {
                    foreach (var concentration in Model.Concentrations)
                    {
                        <tr>
                            <td>
                                @concentration.Id
                            </td>
                            <td>
                                @concentration.Title
                            </td>
                            <td>
                                @concentration.DegreeId
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Concentrations found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>Courses:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Units</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Courses != null)
                {
                    foreach (var course in Model.Courses)
                    {
                        <tr>
                            <td>
                                @course.Id
                            </td>
                            <td>
                                @course.Department
                            </td>
                            <td>
                                @course.Number
                            </td>
                            <td>
                                @course.Title
                            </td>
                            <td>
                                @course.Description
                            </td>
                            <td>
                                @course.Units
                            </td>
                            <td>
                                @course.Active
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Courses found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4>GPF Sessions:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Account</th>
                    <th>Degree ID</th>
                    <th>Concentration ID</th>
                    <th>Enter Year</th>
                    <th>Entering Quarter</th>
                    <th>Classes Per Quarter</th>
                    <th>Delivery Option</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.GPFSessions != null)
                {
                    foreach (var session in Model.GPFSessions)
                    {
                        <tr>
                            <td>
                                @session.Id
                            </td>
                            <td>
                                @session.Account.Id
                            </td>
                            <td>
                                @session.Degree.Id
                            </td>
                            <td>
                                @session.Concentration.Id
                            </td>
                            <td>
                                @session.EnteringTerm.Year
                            </td>
                            <td>
                                @session.EnteringTerm.Quarter.Description
                            </td>
                            <td>
                                @session.ClassesPerQuarter
                            </td>
                            <td>
                                @session.ClassDeliveryOption.Description
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No GPF Sessions found.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
