@model GPF.Web.ViewModels.CatalogViewModel
@{
    ViewBag.Title = "Degree";
}

<div class="page-header">
    <h2>Browse Catalog</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Search Options
            <button class="btn btn-default" data-toggle="collapse" data-target="#search-options">
                Expand
            </button>
        </h3>
    </div>
    <div id="search-options" class="panel-body collapse">
        @using (Html.BeginForm())
        {
            <div class="form-group">

                <div class="form-group">
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("View Courses", "Courses", "Catalog")</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="search-id">@ViewBag.Title ID Is Exactly:</label>
                    @Html.TextBoxFor(model => model.SearchId, new { @class = "form-control", @placeholder = "ID Is..." })
                </div>
                <div class="form-group">
                    <label for="search-name">@ViewBag.Title Title Includes:</label>
                    @Html.TextBoxFor(model => model.SearchTitle, new { @class = "form-control", @placeholder = "Title Includes..." })
                </div>

                <button type="submit" class="btn btn-success">Search</button>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3 class="page-header">
            Degrees 
            @(Model.SearchId > 0 ? " ID = '" + Model.SearchId.ToString() + "'" : "")
            @(!string.IsNullOrWhiteSpace(Model.SearchTitle) ? " Title includes '" + Model.SearchTitle + "'" : "")
            / @Html.ActionLink("Courses", "Courses", "Catalog")
        </h3>

        @foreach (var degree in Model.Degrees)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#degree-@degree.Id">@degree.Title</a>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="degree-@degree.Id" class="panel-body in">
                            <p>@degree.Description</p>

                            <div class="well">
                                <p>Concentrations:</p>
                                <ul>
                                    @foreach (var concentration in degree.Concentrations)
                                    {
                                        <li>
                                            @concentration.Title
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
